@font-face{
    font-family: "Photograph";
    src: url("../fonts/Photograph_Signature.ttf");
}

@font-face{
    font-family: 'Mollen Bold';
    src: url('../fonts/Mollen_bold.otf');
}

#brandd{
    font-family: 'Photograph';
    font-size: 10rem;
}

#brandd-desc{
    font-family: 'Mollen Bold';
    font-size: 5rem;
}

.hide{
    display: none;
}