{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1><strong>ADMIN</strong> <a href="{{ url_for('logout') }}"><i class="material-icons">logout</i></a></h1>
    </div>
</div>
<div class="row">
    <div class="col s12 m8" style="padding: 20px;">
        <table id="userTable">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ url_for('delete', user_id=user.user_id) }}">
                            <i class="material-icons red-text text-darken-2">delete_forever</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card col s12 m4">
        <div class="card-content">
            <span class="card-title"><strong>Add new user</strong></span>
            <div class="input-field">
                <input type="text" id="id" name="id" form="form1">
                <label for="id">Student ID</label>
            </div>
            <div class="input-field">
                <input type="text" id="name" name="name" form="form1">
                <label for="name">Name</label>
            </div>
            <button type="submit" class="btn btn-flat" form="form1">submit</button>
        </div>
    </div>
</div>
<form action="{{ url_for('new_user') }}" id="form1" method="post"></form>
{% endblock %}
{% block onload_script %}
$('#userTable').DataTable();
{% endblock %}