{% extends "blog_template.html" %}
{% block title %}{{ user.user_name }}{% endblock %}
{% block user %}{{ user.user_name }} - {% endblock %}
{% block content %}
<style>
.logo-img{
    width: 100px !important;
    height: 100px !important;
}
</style>
<a href="">
    <div class="logo-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/{}.png'.format(user.user_id)) }}" class="logo-img">
        </div>
    </div>
</a>
<div class="container">

    <div class="masonry-container">


        <!-- <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border card-just-text" data-background="color" data-color="black" >
                <div class="content">
                    <h4 class="title">"In the end we only <b>regret</b> the chances we didn't take."</h4>
                    <p class="description">- Hipster Quote</p>
                </div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card">
                <div class="header">
                    <img src="{{ url_for('static', filename='images/javacompe.jpg') }}"/>
                    <div class="filter"></div>

                    <div class="actions">
                        <button class="btn btn-round btn-fill btn-neutral btn-modern">
                            Read Article
                        </button>
                    </div>
                </div>

                <div class="content">
                    <h6 class="category">News</h6>
                    <h4 class="title"><a href="#">Try the new hairstyle from this Barber Shop </a></h4>
                    <p class="description">
                        When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
                    </p>
                </div>
            </div> 
        </div>


        <div class="card-box col-md-4 col-sm-6">
            <div class="card" data-background="image" data-src="{{ url_for('static', filename='images/algo2017.jpg') }}">
                <div class="header">
                    <div class="category">
                        <h6 class="label label-danger">Hipster Tag</h6>
                    </div>
                </div>

                <div class="content">
                    <h4 class="title title-uppercase">
                        <a href="">Here can be your special title for this card</a>
                    </h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                </div>
                <div class="filter">

                </div>
            </div> 
        </div>


        <div class="card-box col-md-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <h6 class="category">Best stories</h6>
                    <h4 class="title"><a href="#">This is a plain Hipster Card, see for yourself</a></h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                </div>
            </div> 
        </div>


        <div class="card-box col-md-4 col-sm-6">
            <div class="card">
                <div class="header">
                    <img src="{{ url_for('static', filename='img/beard-1.jpg') }}" />

                    <div class="social-line social-line-visible" data-buttons="4">
                        <button class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="btn btn-social btn-pinterest">
                            <i class="fa fa-pinterest"></i>
                        </button>
                        <button class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="content">
                    <h6 class="category">News</h6>
                    <h4 class="title">Use this card and see what you can achive</h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                </div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card" data-background="image" data-src="{{ url_for('static', filename='img/lifestyle-2.jpg') }}">
                <div class="header">
                    <div class="category">
                        <h6 class="label label-warning">Trending Post</h6>
                    </div>

                    <div class="social-line" data-buttons="3">
                        <button class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook-square"></i> Share
                        </button>
                        <button class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i> Tweet
                        </button>
                        <button class="btn btn-social btn-pinterest">
                            <i class="fa fa-pinterest"></i> Pin
                        </button>
                    </div>
                </div>

                <div class="content">
                    <h4 class="title">Tobias Van Schneider is a German designer raised in Austria...</h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security.</p>
                </div>
                <div class="filter"></div>
            </div> 
        </div>





        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border" data-background="image" data-src="{{ url_for('static', filename='images/uhack.jpg') }}">
                <div class="header">
                </div>

                <div class="content text-center">
                    <p class="description">
                        When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.
                    </p>
                </div>
                <div class="footer text-center">
                    <a href="#" class="btn btn-danger btn-fill btn-round">Read article</a>
                </div>
                <div class="filter"></div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-just-text card-with-border" data-background="image" data-src="{{ url_for('static', filename='img/lifestyle-9.jpg') }}">
                <div class="content">
                    <h4 class="title title-modern">"I liked nutella, triangles and outerspace way before hipsters."</h4>
                    <p class="description">- Not A Hipster</p>
                </div>
                <div class="filter"></div>
            </div> 
        </div>


        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border" data-background="color" data-color="azure">
                <div class="header">
                    <div class="icon">
                        <i class="pe-7s-radio"></i>
                    </div>
                </div>
                <div class="content text-center">
                    <h4 class="title title-modern">Nicecream.fm</h4>
                    <p class="description">Best vibes in the marketplace. Listen to the best music from '89. I feel like Nicecream and .fm do just that.</p>
                </div>
                <div class="footer text-center">
                    <button class="btn btn-neutral btn-round btn-fill btn-modern">Listen Now!</button>
                </div>
            </div> 
        </div>





        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border" data-background="color" data-color="orange">
                <div class="content">
                    <h6 class="category">Hot Article</h6>
                    <h4 class="title">
                        <a href="#"> Try the new hairstyle from this Barber Shop</a>
                    </h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                </div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card text-center" data-background="image" data-src="{{ url_for('static', filename='img/city-2.png') }}">
                <h4 class="title title-modern">Hipster Vacation</h4>

                <div class="content">
                    <div class="price">
                        <h6>From</h6>
                        <h4>2.799<b class="currency">$</b></h4>
                    </div>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security.</p>
                </div>
                <div class="filter"></div>
                <div class="footer btn-center">
                    <button class="btn btn-neutral btn-round btn-fill">Book Now!</button>
                </div>
            </div> 
        </div>




        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border">
                <div class="header">
                    <div class="icon">
                        <i class="pe-7s-glasses"></i>
                    </div>
                </div>
                <div class="content text-center">
                    <h4 class="title text-center">Hipster Glasses App</h4>
                    <p class="description">Here can be a description about the application that is for download. I feel like this app is what I need.</p>
                </div>
                <div class="footer btn-center">
                    <button class="btn btn-default btn-round btn-fill btn-info btn-modern">Download</button>
                </div>
            </div> 
        </div>






        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-just-text card-with-border" data-background="image" data-src="{{ url_for('static', filename='img/music-3.jpg') }}">
                <div class="content">
                    <div class="filter filter-red"></div>
                    <h4 class="title title-modern">"I like the way you work it. No diggity, I gotta bag it up."</h4>
                    <p class="description">- Chet Faker</p>
                </div>

                <div class="filter"></div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border" data-background="color" data-color="green">
                <div class="header">
                    <div class="icon">
                        <i class="pe-7s-plus"></i>
                    </div>

                    <div class="social-line" data-buttons="3">
                        <button class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="btn btn-social btn-pinterest">
                            <i class="fa fa-pinterest"></i>
                        </button>
                    </div>

                </div>
                <div class="content text-center">
                    <p class="description">Your friend <b>Michael Osborn</b> has sent you a hipster gift card.</p><br>
                </div>
                <div class="footer btn-center">
                    <button class="btn btn-neutral btn-fill btn-modern">View Gift Details</button>
                </div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card" data-background="color" data-color="black">
                <div class="header">
                    <img src="{{ url_for('static', filename='img/home-1.jpg') }}"/>

                    <div class="social-line" data-buttons="2">
                        <button class="btn btn-social">
                            <i class="fa fa-facebook-square"></i> Share
                        </button>
                        <button class="btn btn-social">
                            <i class="fa fa-twitter"></i> Tweet
                        </button>
                    </div>
                </div>

                <div class="content">
                    <h6 class="category">Interior Design</h6>
                    <h4 class="title"><a href="#">Hipster Apartment sold for $1.2 mil.</a></h4>
                    <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                </div>
            </div> 
        </div>



        <div class="card-box col-md-4 col-sm-6">
            <div class="card text-center" data-background="image" data-src="{{ url_for('static', filename='img/city-1.jpg') }}">
                <h4 class="title title-modern">Hipster City</h4>

                <div class="content">
                        <div class="price">
                        <h6>From</h6>
                        <h4>1.499<b class="currency">$</b></h4>
                    </div>
                </div>

                <div class="footer btn-center">
                    <button class="btn btn-neutral btn-round btn-modern">Buy Ticket</button>
                </div>

                <div class="filter filter-blue"></div>
            </div> 
        </div> -->
        {% if has_stories %}
            {% for story in stories %}
                {% if story.stype == 'special_story_bordered' %}
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border" data-background="image" data-src="{{ url_for('static', filename='images/{}.png'.format(story._id)) }}">
                        <div class="header">
                            <div class="category">
                                {% if 'user_id' in session and session['user_id'] == user.user_id %}
                                <a href="{{ url_for('edit_story', story_id='{}'.format(story._id)) }}" class="label label-warning"><strong>Edit</strong></a>
                                <a href="{{ url_for('delete_story', story_id='{}'.format(story._id)) }}" class="label label-danger"><strong>Delete</strong></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content text-center">
                            <p class="description">
                                {{ story.title }}
                            </p>
                        </div>
                        <div class="footer text-center">
                            <a href="{{ url_for('view_blog', user_id=user.user_id, story_id='{}'.format(story._id)) }}" class="btn btn-danger btn-fill btn-round">Read article</a>
                        </div>
                        <div class="filter"></div>
                    </div> 
                </div>
                {% elif story.stype == 'special_story' %}
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="image" data-src="{{ url_for('static', filename='images/{}.png'.format(story._id)) }}">
                        <div class="header">
                            <div class="category">
                                {% if 'user_id' in session and session['user_id'] == user.user_id %}
                                <a href="{{ url_for('edit_story', story_id='{}'.format(story._id)) }}" class="label label-warning"><strong>Edit</strong></a>
                                <a href="{{ url_for('delete_story', story_id='{}'.format(story._id)) }}" class="label label-danger"><strong>Delete</strong></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title title-uppercase">
                                <a href="{{ url_for('view_blog', user_id=user.user_id, story_id='{}'.format(story._id)) }}">{{ story.title }}</a>
                            </h4>
                            <p class="description">{{ story.description }}</p>
                        </div>
                        <div class="filter">

                        </div>
                    </div> 
                </div>
                {% elif story.stype == 'normal_story' %}
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <img src="{{ url_for('static', filename='images/{}.png'.format(story._id)) }}"/>
                            <div class="filter"></div>

                            <div class="actions">
                                <a href="{{ url_for('view_blog', user_id=user.user_id, story_id='{}'.format(story._id)) }}" class="btn btn-round btn-fill btn-neutral btn-modern">
                                    Read Article
                                </a>
                                {% if 'user_id' in session and session['user_id'] == user.user_id %}
                                <a href="{{ url_for('edit_story', story_id='{}'.format(story._id)) }}" class="label label-warning"><strong style="color: white;">Edit</strong></a>
                                <a href="{{ url_for('delete_story', story_id='{}'.format(story._id)) }}" class="label label-danger"><strong style="color: white;">Delete</strong></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content">
                            <h4 class="title"><a href="{{ url_for('view_blog', user_id=user.user_id, story_id='{}'.format(story._id)) }}">{{ story.title }}</a></h4>
                            <p class="description">{{ story.description }}</p>
                        </div>
                    </div> 
                </div>
                {% elif story.stype == 'quote' %}
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border card-just-text" data-background="color" data-color="black" >
                        <div class="content">
                            
                            <div class="category">
                                {% if 'user_id' in session and session['user_id'] == user.user_id %}
                                <a href="{{ url_for('edit_story', story_id='{}'.format(story._id)) }}" class="label label-warning"><strong>Edit</strong></a>
                                <a href="{{ url_for('delete_story', story_id='{}'.format(story._id)) }}" class="label label-danger"><strong>Delete</strong></a>
                                {% endif %}
                            </div>
                            <h4 class="title title-modern">{{ story.description }}</h4>
                            <p class="description">- {{ story.title }}</p>
                        </div>
                    </div> 
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border card-just-text" data-background="color" data-color="red" >
                <div class="content">
                    <h4 class="title">You have no stories yet. Scroll down to create some.</h4>
                    <p class="description">- Admin</p>
                </div>
            </div> 
        </div>
        {% endif %}


    </div>

    <div class="page-description-footer" {% if not has_stories %}{% if 'user_id' in session and session['user_id'] == user.user_id %}style="margin-top: 30%;"{% endif %}{% else %}style="margin-top:15%;"{% endif %}>
        <!-- <a class="btn btn-default btn-fil btn-round btn-lg disabled" href="#">
            Tutorial (soon)
        </a> -->
        {% if 'user_id' in session and session['user_id'] == user.user_id %}
        <a class="btn btn-neutral btn-fill btn-round btn-lg" href="{{ url_for('changepassword') }}">
            Change Password
        </a>
        <a class="btn btn-info btn-fill btn-round btn-lg" href="{{ url_for('new_story') }}">
            New Story
        </a>
        <a class="btn btn-neutral btn-fill btn-round btn-lg" href="{{ url_for('changeprofilepicture') }}">
            Change profile picture
        </a>
        <a class="btn btn-danger btn-fill btn-round btn-lg" href="{{ url_for('logout') }}">
            Logout
        </a>
        {% else %}
        <a class="btn btn-neutral btn-fill btn-round btn-lg" href="{{ url_for('index') }}">
            Go Back
        </a>
        {% endif %}

        <div class="clearfix"></div><br>
                    <br>
        <!-- <button id="twitter" class="btn btn-info btn-social btn-twitter btn-round btn-fill btn-wd"><i class="fa fa-twitter"></i></button>
        <button id="facebook" class="btn btn-info btn-social btn-facebook btn-round btn-fill btn-wd"><i class="fa fa-facebook-square"></i></button> -->


        <p>Copyright &copy; 2019 Developed by Ablay.</p>
    </div>


</div>
{% endblock %}