<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{% block title %}{% endblock %} | Computer Science Blogs</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Stylesheet      -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/hipster_cards.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="wrapper">
    <!--   Creative Tim Branding   -->
    <div class="page-description page-description-header">
        <div class="hipster-container" style="max-width: 100% !important;">
            <!-- <img src="{{ url_for('static', filename='img/hipster_logo_white.png') }}" /> -->
            <h1 id="brandd">Computer Science</h1><br>
            <p id="brandd-desc">{% block user %}{% endblock %}BLOGS</p>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div> <!-- end wrapper -->

</body>

    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/hipster-cards.js') }}"></script>

    <!--  Just for demo	 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>

	<script>

    	$().ready(function(){

        	var $container = $('.masonry-container');


            doc_width = $(document).width();

            if (doc_width >= 768){
                $container.masonry({
                    itemSelector        : '.card-box',
                    columnWidth         : '.card-box',
                    transitionDuration  : 0
                });
            } else {
                $('.mas-container').removeClass('mas-container').addClass('row');
            }
            
    	});

        window.onload = function(){
            {% block onload_script %}
            {% endblock %}
        }

        {% block offload_script %}
        {% endblock %}



	</script>

</html>
