{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card col s6 offset-s3" style="margin-top: 100px;">
        <div class="card-content center">
            <h3><strong>Change profile picture</strong></h3>
            <div class="file-field input-field">
				<div class="btn">
					<span>profile picture</span>
					<input type="file" id="file" name='file' form="form1">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text" placeholder="Leave blank if no change">
				</div>
            </div>
            <button type="submit" class="btn btn-flat" form="form1">submit</button>
        </div>
    </div>
</div>
<form action="{{ url_for('changeprofilepicture_submit', user_id=session['user_id']) }}" id="form1" method="post" enctype="multipart/form-data"></form>
{% endblock %}