{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card col s6 offset-s3" style="margin-top: 100px;">
        <div class="card-content center">
            <h3><strong>Change Password</strong></h3>
            <div class="input-field">
                <input type="password" id="password" name='password' form="form1">
                <label for="password">New Password</label>
            </div>
            <button type="submit" class="btn btn-flat" form="form1">submit</button>
        </div>
    </div>
</div>
<form action="{{ url_for('changepassword_submit') }}" id="form1" method="post"></form>
{% endblock %}