{% extends "blog_template.html" %}
{% block title %}Students{% endblock %}
{% block user %}{% if user %}{{ user.user_name }}{% endif %}{% endblock %}
{% block content %}
<div class="container">
    <div class="masonry-container">
        {% for user in users %}
        <div class="card-box col-md-4 col-sm-6">
            <div class="card card-with-border" data-background="image" data-src="{{ url_for('static', filename='images/{}.png'.format(user.user_id)) }}">
                <div class="header">
                    <div class="category">
                    </div>
                </div>

                <div class="content text-center">
                    <h4 class="title title-uppercase">
                        {{ user.user_name }}
                    </h4>
                </div>
                <div class="footer text-center">
                    <a href="{{ url_for('blog', user_id=user.user_id) }}" class="btn btn-danger btn-fill btn-round btn-modern">View blogs</a>
                </div>
                <div class="filter"></div>
            </div> 
        </div>
        {% endfor %}
    </div>
</div>
<div class="page-description-footer" {% if not has_stories %}{% if 'user_id' in session %}style="margin-top: 30%;"{% endif %}{% else %}style="margin-top:15%;"{% endif %}>
    <p>Copyright &copy; 2019 Developed by Ablay.</p>
</div>


</div>
{% endblock %}