{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card col s6 offset-s3" style="margin-top: 100px;">
        <div class="card-content center">
            <h3><strong>New story</strong></h3>
            <div class="file-field input-field">
				<div class="btn">
					<span>story image</span>
					<input type="file" id="file" name='file' form="form1">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
            </div>
            <div class="input-field">
                <input type="text" id="title" name='title' form="form1">
                <label for="title">Title of the story</label>
			</div>
			<div class="input-field">
				<textarea id="description" class="materialize-textarea" name="description" form="form1" data-length="120"></textarea>
				<label for="description">Short description of the story</label>
			</div>
			<div class="input-field">
				<select name="story_type" id="" form="form1">
					<option value="" disabled selected>Choose card type</option>
					<option value="quote">Quote</option>
					<option value="normal_story">Normal Story</option>
					<option value="special_story">Special Story</option>
					<option value="special_story_bordered">Bordered Special Story</option>
				</select>
			</div>
            <button type="submit" class="btn btn-flat" form="form1">submit</button>
        </div>
    </div>
</div>
<form action="{{ url_for('new_story_submit') }}" id="form1" method="post" enctype="multipart/form-data"></form>
{% endblock %}
{% block onload_script %}
$('#description').characterCounter();
{% endblock %}