{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card col s12 m8 offset-m2" style="margin-top: 100px;">
        <div class="card-content center">
            <h3><strong>Add paragraph to {{ story.title }}</strong></h3>
			<div class="input-field">
				<textarea id="paragraph" class="materialize-textarea" name="paragraph" form="form1"></textarea>
				<label for="paragraph">Your new paragraph</label>
			</div>
			<a href="{{ url_for('view_blog', user_id=user.user_id, story_id='{}'.format(story._id)) }}" class="btn red darken-2">cancel</a>
			<button type="submit" class="btn green darken-2" form="form1">submit</button>
    </div>
</div>
<form action="{{ url_for('new_paragraph_submit', user_id=user.user_id, story_id='{}'.format(story._id)) }}" id="form1" method="post" enctype="multipart/form-data"></form>
{% endblock %}
{% block onload_script %}
{% endblock %}