{% extends "view_blog_template.html" %}
{% block title %}{{ story.title }} - {{ user.user_name }}{% endblock %}
{% block content %}
{% for paragraph in paragraphs %}
<p class="lead">{{ paragraph.paragraph }}</p>
{% if 'user_id' in session and session['user_id'] == user.user_id %}
<a href="{{ url_for('edit_paragraph', user_id='{}'.format(user.user_id), story_id='{}'.format(story._id), paragraph_id='{}'.format(paragraph._id)) }}" class="btn btn-warning darken-2">edit</a>
<a href="{{ url_for('delete_paragraph', user_id='{}'.format(user.user_id), story_id='{}'.format(story._id), paragraph_id='{}'.format(paragraph._id)) }}" class="btn btn-danger darken-2">delete</a>
<hr>
{% endif %}
{% endfor %}
{% if 'user_id' in session and session['user_id'] == user.user_id %}
<br>
<a href="{{ url_for('new_paragraph', user_id='{}'.format(user.user_id), story_id='{}'.format(story._id)) }}" class="btn btn-default">Add paragraph</a>
{% endif %}
{% endblock %}