<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <!-- <link href="{{ url_for('static', filename='argon/assets/img/brand/favicon.png') }}" rel="icon" type="image/png"> -->
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{ url_for('static', filename='argon/assets/vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='argon/assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{{ url_for('static', filename='argon/assets/css/argon.css') }}" rel="stylesheet">
</head>

<body>
  <header class="header-global">
  </header>
  <main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary" style="background-image: url({{ url_for('static', filename='images/{}.png'.format(story._id)) }}); background-size: cover; background-repeat: no-repeat;">
          <!-- <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span> -->
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
    <section class="section section-components" id="section-components">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- Basic elements -->
            <h2 class="display-3">
              {{ story.title }}
            </h2>
            <h6 class="">
              <small><i>by {{ user.user_name }}</i></small>
            </h6>
            <p class="lead">{{ story.description }}</p>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="btn-wrapper">
              <a href="{{ url_for('blog', user_id=user.user_id) }}" class="btn btn-default mb-3 mb-sm-0">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer has-cards">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            Copyright &copy; 2019 Developed by Ablay.
          </div>
		    </div>
		    <div class="col-md-6"></div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="{{ url_for('static', filename='argon/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='argon/assets/vendor/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='argon/assets/vendor/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='argon/assets/vendor/headroom/headroom.min.js') }}"></script>
  <!-- Optional JS -->
  <script src="{{ url_for('static', filename='argon/assets/vendor/onscreen/onscreen.min.js') }}"></script>
  <script src="{{ url_for('static', filename='argon/assets/vendor/nouislider/js/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='argon/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
  <!-- Argon JS -->
  <script src="{{ url_for('static', filename='argon/assets/js/argon.js') }}"></script>
</body>

</html>
